html {
  position: relative;
  top: -15px;
  height: 102%;
  width: 102%;
  left: -15px;
  overflow: hidden;
  font-size: 16px;
}

a {
  color: rgb(30, 30, 63);
  text-decoration-style: wavy;
}

.fullSize {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cesium-viewer-toolbar {
  display: none !important;
  visibility: hide !important;
}

.cesium-viewer-fullscreenContainer {
  display: none !important;
  visibility: hide !important;
}

.cesium-viewer-bottom {
  display: none !important;
  visibility: hide !important;
}

.datadisplay-outer {
  position: absolute;
  padding: 5%;
  border-radius: 10px;
  background-color: rgb(75, 132, 200, 0.5);
  left: 1.75%;
  width: 15%;
  height: 40%;
  top: 34%;
  margin-bottom: 3%;
  min-height: 275px;
  /* min-height: 200px; */
}

.datadisplay-inner {
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
  background-color: lightgray;
  padding: 1%;
  border: 5px black;
  border-radius: 10px;
  background-color: rgba(238, 227, 227, 0.5);
  left: 3%;
  width: 20%;
  height: 45%;
  top: 37.5%;
  margin-bottom: 3%;
  min-height: 275px;
}

/* .datadisplay-inner div {
  max-height: 25%;
} */

/* .datadisplay-outer div {
  max-height: 25%;
} */

.welcomediv {
  font-size: 1.5rem;
  top: 25%;
  display: block;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.genres p {
  display: inline-block;
  font-size: 1.25em;
}
.artistinfo {
  display: inline-block;
  font-size: 1em;
}

.artistinfo p {
  font-size: 1em;
}

.years p {
  display: inline-block;
  font-size: 1em;
}

.birthlocation p {
  display: inline-block;
  font-size: 1.5em;
}

.links a {
  display: inline-block;
  font-size: 0.75em;
}

#centercircle {
  position: absolute;
  top: 50%;
  display: block;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 96;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}

#bandgroup {
  font-size: 1em;
}
#artistname {
  font-size: 1.25em;
}

@media (max-width: 575px) {
  .datadisplay-inner {
    min-width: 150px;
  }
  .datadisplay-inner div {
    max-height: 20px;
  }

  .datadisplay-outer {
    min-width: 130px;
  }
  .genres {
    font-size: 1px;
    display: none;
  }
  .years {
    font-size: 1px;
    display: none;
  }
  .artistinfo p {
    font-size: 12px;
  }
  #artistname {
    display: inline-block;
    font-size: 12px;
  }

  #bandgroup {
    font-size: 12px;
  }
  .birthlocation p {
    display: inline-block;
    font-size: 12px;
  }
  .links a {
    font-size: 12px;
  }
}

@media (min-width: 576px) {
  body::before {
    content: "SM";
  }
  .datadisplay-inner {
    min-width: 200px;
    font-size: 14px;
  }
  .datadisplay-inner div {
    max-height: 35px;
  }
  .datadisplay-outer {
    min-width: 180px;
  }

  .birthlocation p {
    display: inline-block;
    font-size: 0.85em;
  }

  .genres {
    font-size: 1px;
    display: none;
  }
  .years {
    font-size: 1px;
    display: none;
  }
  .artistinfo p {
    font-size: 1em;
  }
  #artistname {
    display: inline-block;
    font-size: 1.2em;
  }

  #bandgroup {
    font-size: 1em;
  }
  .birthlocation p {
    display: inline-block;
    font-size: 1.25em;
  }
  .links a {
    padding-top: 5px;
    font-size: 0.85em;
  }
}

@media (min-width: 768px) {
  body::before {
    content: "MD";
  }
  .datadisplay-inner {
    min-width: 200px;
    font-size: 14px;
    min-height: 265px;
  }
  .datadisplay-inner div {
    max-height: 35px;
  }
  .datadisplay-outer {
    min-width: 180px;
  }
  .genres {
    font-size: 0.75em;
    display: block;
  }
  .years {
    font-size: 1em;
    display: block;
  }
  .birthlocation p {
    display: inline-block;
    font-size: 1.5em;
  }
}

@media (min-width: 992px) {
  body::before {
    content: "LG";
  }
  .bikebox {
    display: block;
  }
  .datadisplay-inner {
    min-width: 200px;
    font-size: 14px;
    min-height: 290px;
  }
  .datadisplay-inner div {
    max-height: 35px;
  }
  .datadisplay-outer {
    min-width: 180px;
  }
  .birthlocation p {
    display: inline-block;
    font-size: 1.5em;
  }
}

@media (min-width: 1200px) {
  body::before {
    content: "XL";
  }
  .birthlocation p {
    display: inline-block;
    font-size: 1.5em;
  }
}

@media (min-width: 1400px) {
  body::before {
    content: "XXL";
  }
  .birthlocation p {
    display: inline-block;
    font-size: 1.5em;
  }
}
