html {
  position: relative;
  top: -15px;
  height: 102%;
  width: 102%;
  left: -15px;
  overflow: hidden;
}

a {
  color: rgb(30, 30, 63);
  text-decoration-style: wavy;
}

.fullSize {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cesium-viewer-toolbar {
  display: none !important;
  visibility: hide !important;
}

.cesium-viewer-fullscreenContainer {
  display: none !important;
  visibility: hide !important;
}

.cesium-viewer-bottom {
  display: none !important;
  visibility: hide !important;
}

.datadisplay-outer {
  position: absolute;
  padding: 5%;
  border-radius: 10px;
  background-color: rgb(75, 132, 200, 0.5);
  left: 1.75%;
  width: 15%;
  height: 40%;
  top: 34%;
  min-height: 200px;
}

.datadisplay-inner {
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
  background-color: lightgray;
  padding: 1%;
  border: 5px black;
  border-radius: 10px;
  background-color: rgba(238, 227, 227, 0.5);
  left: 3%;
  width: 20%;
  height: 45%;
  top: 37.5%;
  margin-bottom: 3%;
  min-height: 275px;
}

.datadisplay-inner div {
  max-height: 50px;
}

.welcomediv {
  padding: 10px;
  font-size: 25px;
  top: 25%;
  display: block;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.genres p {
  display: inline-block;
  font-size: 20px;
}
.artistinfo {
  display: inline-block;
  font-size: 16px;
}

.artistinfo p {
  font-size: 16px;
}

.years p {
  display: inline-block;
  font-size: 14px;
}

.birthlocation p {
  display: inline-block;
  font-size: 24px;
}

.links p {
  display: inline-block;
  font-size: 10px;
}

#centercircle {
  position: absolute;
  top: 50%;
  display: block;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 96;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}

#bandgroup {
  font-size: 14px;
}
#artistname {
  font-size: 20px;
}
